# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [40]:
csvfile = os.path.join('..', 'WeatherPy', 'citiesdf.csv')

citiesdf = pd.read_csv(csvfile)
citiesdf.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,mataura,-46.1927,168.8643,285.93,83.0,93.0,0.89,NZ,1.616172e+09
1,1,ushuaia,-54.8000,-68.3000,284.15,62.0,40.0,5.66,AR,1.616172e+09
2,2,wanning,18.8003,110.3967,296.26,95.0,15.0,2.66,CN,1.616172e+09
3,3,palabuhanratu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,atuona,-9.8000,-139.0333,299.87,77.0,48.0,6.03,PF,1.616172e+09

In [60]:
#drop NaNs
dropdupcities = citiesdf.dropna(subset=['Latitude', 'Longitude'])

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [61]:
gmaps.configure(api_key=g_key)

In [62]:
humidity = dropdupcities['Humidity']
locate = dropdupcities[['Latitude', 'Longitude']]

fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locate, weights=humidity, dissipating=False)
heatmap.max_intensity= 100
heatmap.point_radius = 5

fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [66]:
new_weatherdf = citiesdf[citiesdf['Max Temperature'] > 70]
new_weatherdf = citiesdf[citiesdf['Max Temperature'] <= 80]
new_weatherdf = citiesdf[citiesdf['Wind Speed'] <= 10]
new_weatherdf = citiesdf[citiesdf['Cloudiness'] == 0]
new_weatherdf_filter = new_weatherdf.dropna()
new_weatherdf_filter.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,altay,47.8667,88.1167,262.32,45.0,0.0,2.35,CN,1.616172e+09
11,11,nizhnevartovsk,60.9344,76.5531,272.15,55.0,0.0,4.00,RU,1.616172e+09
14,14,najran,17.4924,44.1277,302.15,13.0,0.0,4.12,SA,1.616172e+09
19,19,mar del plata,-38.0023,-57.5575,293.15,49.0,0.0,6.17,AR,1.616172e+09
23,23,faya,18.3851,42.4509,292.65,77.0,0.0,2.57,SA,1.616172e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [69]:
hotel_df = pd.DataFrame(new_weatherdf_filter)
hotel_df['Hotel Name'] = ""
hotel_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
8,8,altay,47.8667,88.1167,262.32,45.0,0.0,2.35,CN,1.616172e+09,
11,11,nizhnevartovsk,60.9344,76.5531,272.15,55.0,0.0,4.00,RU,1.616172e+09,
14,14,najran,17.4924,44.1277,302.15,13.0,0.0,4.12,SA,1.616172e+09,
19,19,mar del plata,-38.0023,-57.5575,293.15,49.0,0.0,6.17,AR,1.616172e+09,
23,23,faya,18.3851,42.4509,292.65,77.0,0.0,2.57,SA,1.616172e+09,

In [70]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [79]:
for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    
    params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }
    
    params['location'] = f"{lat}, {lng}"
    hotel_json = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_json["results"][0]["name"]
    except (KeyError, IndexError):
        print('skip')
hotel_df

skip
skip
skip
skip
skip
skip
skip
skip
skip
skip

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
8,8,altay,47.8667,88.1167,262.32,45.0,0.0,2.35,CN,1.616172e+09,阿勒泰市金都酒店
11,11,nizhnevartovsk,60.9344,76.5531,272.15,55.0,0.0,4.00,RU,1.616172e+09,Park-Hotel
14,14,najran,17.4924,44.1277,302.15,13.0,0.0,4.12,SA,1.616172e+09,
19,19,mar del plata,-38.0023,-57.5575,293.15,49.0,0.0,6.17,AR,1.616172e+09,NH Gran Hotel Provincial
23,23,faya,18.3851,42.4509,292.65,77.0,0.0,2.57,SA,1.616172e+09,
31,31,iquique,-20.2208,-70.1431,294.15,64.0,0.0,4.12,CL,1.616172e+09,Holiday Inn Express Iquique
36,36,ayr,55.4627,-4.6339,284.15,71.0,0.0,4.63,GB,1.616172e+09,Brig o' Doon House Hotel
41,41,necochea,-38.5473,-58.7368,294.82,50.0,0.0,2.24,AR,1.616172e+09,Hostel La casa de al lado
47,47,dikson,73.5069,80.5464,237.71,92.0,0.0,2.09,RU,1.616172e+09,Sberbank Rossii
50,50,new norfolk,-42.7826,147.0587,284.63,71.0,0.0,0.76,AU,1.616172e+09,The Woodbridge
53,53,balgazyn,51.0000,95.2000,260.25,84.0,0.0,1.21,RU,1.616172e+09,Sberbank Rossii
63,63,ourossogui,15.6064,-13.3211,313.15,16.0,0.0,2.06,SN,1.616172e+09,Hotel welma
78,78,araouane,18.9048,-3.5265,307.96,7.0,0.0,6.66,ML,1.616172e+09,
91,91,adrar,20.5022,-10.0711,305.76,8.0,0.0,4.27,MR,1.616172e+09,
102,102,carnarvon,-24.8667,113.6333,299.15,69.0,0.0,4.63,AU,1.616172e+09,The Gascoyne Hotel
113,113,hirara,24.8000,125.2833,295.19,85.0,0.0,5.40,JP,1.616172e+09,Hotel 385
124,124,saskylakh,71.9167,114.0833,237.53,97.0,0.0,2.11,RU,1.616172e+09,Sberbank Rossii
130,130,nueva concepcion,14.2000,-91.3000,303.11,65.0,0.0,3.09,GT,1.616172e+09,Hotel Maranatha
134,134,maldonado,-34.6667,-54.9167,294.21,56.0,0.0,2.06,UY,1.616172e+09,
149,149,geraldton,-28.7667,114.6000,292.15,59.0,0.0,2.57,AU,1.616171e+09,Ocean Centre Hotel
152,152,comodoro rivadavia,-45.8667,-67.5000,296.15,25.0,0.0,6.69,AR,1.616172e+09,Hotel Playa
160,160,rawson,-43.3002,-65.1023,299.58,23.0,0.0,7.32,AR,1.616172e+09,Complejo Bahia Ballenas
162,162,abha,18.2164,42.5053,292.62,77.0,0.0,2.57,SA,1.616172e+09,Sarawat Park Hotel & Resort
166,166,asyut,27.1810,31.1837,296.15,33.0,0.0,4.12,EG,1.616172e+09,Florence Hotel Assiut
168,168,turayf,31.6725,38.6637,291.15,34.0,0.0,3.09,SA,1.616172e+09,Golden Dune Hotel
186,186,magadan,59.5667,150.8000,251.61,68.0,0.0,2.90,RU,1.616172e+09,HOME HOTEL
211,211,medina,24.4686,39.6142,306.15,6.0,0.0,4.12,SA,1.616172e+09,Madinah Hilton
218,218,arman,59.7000,150.1667,252.50,73.0,0.0,3.50,RU,1.616172e+09,
219,219,khanpur,28.6453,70.6567,296.78,23.0,0.0,1.47,PK,1.616172e+09,Marhaba Guest House and Hotel
223,223,mecca,21.4267,39.8261,301.16,37.0,0.0,2.96,SA,1.616172e+09,Pullman Zamzam Makkah
267,267,esperance,-33.8667,121.9000,290.15,88.0,0.0,5.66,AU,1.616172e+09,Comfort Inn Bay Of Isles
271,271,eyl,7.9803,49.8164,298.83,78.0,0.0,6.86,SO,1.616172e+09,DAAWAD HOTEL EYL
272,272,atar,20.5169,-13.0499,307.05,9.0,0.0,5.21,MR,1.616172e+09,les toiles maures
281,281,umm lajj,25.0213,37.2685,296.88,54.0,0.0,5.05,SA,1.616172e+09,HP Red Sea Hotel
283,283,chuy,-33.6971,-53.4616,295.15,54.0,0.0,3.15,UY,1.616172e+09,Descanso al Paso Chuy
309,309,gabu,12.2833,-14.2167,311.95,12.0,0.0,2.86,GW,1.616172e+09,Residencial Djarama
319,319,bubaque,11.2833,-15.8333,297.93,70.0,0.0,7.62,GW,1.616172e+09,Ponta Anchaca
328,328,la libertad,-2.2333,-80.9000,301.15,78.0,0.0,2.57,EC,1.616172e+09,Playa Canela Hotel Boutique
341,341,barcelos,41.5388,-8.6151,289.66,42.0,0.0,10.29,PT,1.616172e+09,Casa da Ana Boutique Guest House
342,342,gat,31.6100,34.7642,288.59,36.0,0.0,2.73,IL,1.616172e+09,Desert Gat
344,344,tarrafal,15.2833,-23.7667,299.15,53.0,0.0,8.75,CV,1.616172e+09,King Fisher Village
359,359,nouadhibou,20.9310,-17.0347,295.15,60.0,0.0,8.75,MR,1.616172e+09,Free Zone Hotel Nouadhibou
363,363,codrington,-38.2667,141.9667,287.31,93.0,0.0,3.47,AU,1.616172e+09,Codrington Gardens Bed And Breakfast
367,367,pisco,-13.7000,-76.2167,296.77,78.0,0.0,3.60,PE,1.616172e+09,Hostal Tambo Colorado
384,384,margate,51.3813,1.3862,280.21,70.0,0.0,2.24,GB,1.616172e+09,The Yarrow Hotel
388,388,okhotsk,59.3833,143.3000,256.17,64.0,0.0,6.96,RU,1.616172e+09,Prozhivaniye V Okhotske
390,390,hamina,60.5697,27.1979,266.55,53.0,0.0,3.09,FI,1.616172e+09,Hotel Hamina
391,391,salalah,17.0151,54.0924,300.15,69.0,0.0,1.03,OM,1.616172e+09,Salalah Gardens Hotel
399,399,san miguel,13.4833,-88.1833,304.64,52.0,0.0,0.96,SV,1.616172e+09,Hotel Comfort Inn San Miguel
423,423,tamiahua,21.2667,-97.4500,295.46,62.0,0.0,3.56,MX,1.616172e+09,Mission Of The Sun Hotel
427,427,abu samrah,35.3029,37.1841,285.02,60.0,0.0,2.90,SY,1.616172e+09,
440,440,waipawa,-41.4122,175.5153,283.38,76.0,0.0,2.06,NZ,1.616172e+09,
445,445,korla,41.7597,86.1469,276.49,65.0,0.0,1.62,CN,1.616172e+09,Kangcheng Jian Guo International Hotel
456,456,bakel,14.9050,-12.4568,312.28,11.0,0.0,4.25,SN,1.616172e+09,Villa La Vallée
457,457,baghdad,33.3406,44.4009,293.15,32.0,0.0,4.12,IQ,1.616172e+09,BILITOM HOTEL
478,478,todos santos,23.4500,-110.2167,294.26,67.0,0.0,1.79,MX,1.616172e+09,Hotel San Cristóbal
481,481,kyaikkami,16.0800,97.5675,300.77,73.0,0.0,3.92,MM,1.616172e+09,
490,490,senlis,49.2500,2.6667,281.21,49.0,0.0,9.26,FR,1.616172e+09,Hotel Escapade Senlis - Best Western Plus

In [81]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [84]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))